*{
    margin: 0%;
    padding: 0%;
    /* color: white; */
    /* background-color: black; */
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.nav{
    position: relative;
    background-size: cover;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/893a42ad-6a39-43c2-bbc1-a951ec64ed6d/1d86e0ac-428c-4dfa-9810-5251dbf446f8/IN-en-20231002-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    /* display: flex;
    
    justify-content: flex-start ;
    align-items: flex-start ;
    flex-direction: column;
    align-content: flex-start; */
    height: 100vh;
    width: 100%;
    box-shadow: 10px -3px 400px 200px rgba(0,0,0,1) inset;
}
.logo-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
    

}
.lang{
    position: absolute;
    border: none;
    outline: none;
    right: 10%;
    size: 20px;
    padding-top: 2px;
    padding-left: 2px;

}
#lang-1{
    padding-top: 2px;
    font-size: 17px;
    position: absolute;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: rgba(3, 2, 2, 0.268);
}
.btn-sign{
    display: flex;
    flex-direction: column;
    align-content: center;
    color: rgb(255, 255, 255);
    margin-top: -34px;
    text-align: center;
    height: 30px;
    border-radius: 7px;
    border: none;
    position: absolute;
    background-color: red;
    right: 13%;
    width: 70px;
    justify-content: center;
    cursor: pointer;
}
#logo-1{

    display: inline-block;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    
}
#logo{
    display: inline-block;
    margin-left: 10%;
    margin-top: 2%;
    

}
#logo-2{
    position: absolute;
    width: 100px;
    padding: 2px;
    height: 25px;
    right: 20%;
    top: 5.2%;
    border: 1px solid rgba(255, 254, 254, 0.488);
}
.head-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;

    
}
.head-2{
    padding-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.head-3{
    padding-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
#lang{
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
}
.email{
    display: inline-block;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    align-content: center;
    width: 50%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.399);
    border: 1px solid rgba(137, 134, 134, 0.512);
    border-radius: 5px;

}
.email-box{
    padding-top: 20px;
    display: inline-flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.email-box-2{
    padding-top: 20px;
    display: inline-flex;
    width: 60%;
    margin-left: 200px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.email-1{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 30%;
}
#btn i{
    background: rgb(229, 9, 20);
    display: inline-block;
}
#btn{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    border-radius: 2px;
    flex-direction:row;
    justify-content:center;
    width: 19%;
    height: 50px;
    border: none;
    background: rgb(229, 9, 20);
}
#btn-2{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
    border-radius: 2px;
    flex-direction:row;
    justify-content:center;
    width: 19%;
    height: 50px;
    border: none;
    background: rgb(229, 9, 20);
}
.email::placeholder{
    margin-left: 10px;
    padding-left: 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.54);

}
.email:focus{
    background-color: rgba(0, 0, 0, 0.317);
    
}
hr{
    position: relative;
    height: 10px;
    background-color: rgb(54, 56, 56);
    border: none;
    width: 100%;

}
.h2{
    font-size: 3rem;
    /* max-width: 50%; */
    margin-left: 30px;
}
.para{
    font-size: 18px;
    /* max-width: 50%; */
    margin-left: 30px;
}
.image-1{
    max-width: 50%;
    z-index: 1;
    margin-right: 10%;
    max-height: 20%;
}
.sec-1{
    /* width: 100%; */
    background-color: black;
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    

}
.video{
    z-index: -1;
    position: absolute;
    right: 16%;
    margin-top: 100px;
}
.sec-2{
    /* width: 100%; */
    background-color: black;
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    

}
.h2-2{
    font-size: 3rem;
    max-width: 400px;
}
.img-2{
    position: absolute;
    left: 35%;
    margin-top: 24%;
    max-width: 50px;
    max-height: 50px;
}
.para-2{
    font-size: 20px;
    max-width: 500px;
}
.video-1{
    z-index: -1;
    position: absolute;
    right: 18.6%;
    margin-top: 50px;
    max-height: 600px;
    max-width: 400px;
}
.sec-4{
    background-color: black;
    color: white;
    align-items: center;
    display: block;
    justify-content: center;
    padding-left: 20%;

}
.h2-3{
    display: block;
    align-items: center;
    text-align: center;
    margin-right: 15%;
    font-size: 3rem;
    padding: 10px;
    margin-left: 20%;

}
.h2-4{
    display: block;
    align-items: center;
    text-align: center;
    margin-right: 20%;
    font-size: 20px;
    padding: 10px;

}
.tab h2{
    width: 80%;
    display: block;
    align-items: center;
    background-color: rgba(83, 79, 79, 0.77);

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    align-content: center;
}
i{
    float: right;
    padding: 10px;
}
.tab h2:hover{
    background-color: rgba(138, 134, 134, 0.688);

}
.h2-3{
    display: inline-block;
    font-size: 25px;
}
#sec-5{
    padding-top: -40px;
    background-color: black;
    height: 20vh;
}
.email-box-2{
    margin-left: 300px;
}
.sec-8{
    height: 50vh;
    background-color: black;


}
.sec-6{
    color: rgb(197, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: underline;

}
.list-1{
    padding-right: 8%;

}
.list-2{
    padding-right: 8%;

}
.list-3{
    padding-right: 8%;

}
.list-4{
    padding-right: 8%;

}

.list-5{
    padding-right: 8%;

}
.li-2{

    padding: 7px;
    
}
.li-3{
    padding: 7px;
}
.li-4{
    padding: 7px;
}
.li-5{
    padding: 7px;
}
.li-6{
    padding-bottom: 7px;
}
.li-7{
    border: 1px solid white;
    width: 130px;
    border-radius: 7px;
    margin-top: 2%;
    margin-left: 13%;
    left: 13%;
    background-color: rgba(67, 66, 66, 0.303);

}
#lang-3{
    padding: 7px;
    border: none;
    background-color: rgba(67, 66, 66, 0.023);
    color: white;

}
#India{
    color: rgb(197, 197, 197); 
    position: absolute;
    margin-top: 1%;
    margin-left: 13%;
}
#svg-2{

    padding-left: px;
}
.tel{
    padding-bottom: 5px;
    color: white;
    margin-left: 13.2%;
    padding-top: 5%;
}
#tel-1{
    color: white;
    padding-top: 5%;
}

/* Mobile Media Quary */
@media only screen and (max-width: 500px){
    /* .body{
        max-width: 780px;
    } */
.nav{
        position: relative;
        width: 780px;
        background-size: cover;
        background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/893a42ad-6a39-43c2-bbc1-a951ec64ed6d/1d86e0ac-428c-4dfa-9810-5251dbf446f8/IN-en-20231002-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
        /* display: flex;
        justify-content: flex-start ;
        align-items: flex-start ;
        flex-direction: column;
        align-content: flex-start; */
        height: auto;
        /* box-shadow: 10px -3px 400px 200px rgba(0,0,0,1) inset; */
    }
    .head-1{
        font-size: 62px;
    }
    
    .logo-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        overflow: auto;
        text-align: center;
        
    
    }
    .head-1{
        margin-left: 70px;
        margin-right: 70px;
        font-size: 3.5rem;
    }
    #btn{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        font-size: 15px;
        font-weight: bold;
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 40%;
        border-radius: 2px;
        flex-direction:row;
        justify-content:center;
        width: 25%;
        height: 10%;
        padding-right: 5px;
        border: none;
        background: rgb(229, 9, 20);
    }
    .email-box{
        padding-top: 20px;
        display: block;
        width: 60%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .lang{
        position: absolute;
        border: none;
        outline: none;
        right: 10%;
        size: 20px;
        padding-top: 2px;
        padding-left: 2px;
    
    }
    #logo{
        display: inline-block;
        margin-left: 10%;
        margin-top: 7%;
        max-width: 300px;
    }
    #logo-2{
        position: absolute;
        display: block;
        align-items: center;
        align-content: center;
        width: 100px;
        /* height: auto; */
        overflow: hidden;
        padding: 2px;
        /* height: 40px; */
        border-radius: 5px;
        right: 25%;
        top: 9%;
        border: 1px solid rgba(255, 254, 254, 0.488);
    }
    .btn-sign{
        position: inherit;
        display: flex;
        flex-direction: column;
        align-content: center;
        color: rgb(255, 255, 255);
        margin-top: -34px;
        text-align: center;
        height: 44px;
        border-radius: 7px;
        border: none;
        position: absolute;
        background-color: red;
        right: 13%;
        width: 10%;
        font-size: 20px;
        justify-content: center;
        cursor: pointer;
    }
    .email{
        display: inline-block;
        flex-direction:row;
        justify-content:center;
        align-items: center;
        align-content: center;
        width: 70%;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.399);
        border: 1px solid rgba(137, 134, 134, 0.512);
        border-radius: 5px;
    
    }
    hr{
        position: relative;
        height: 10px;
        background-color: rgb(54, 56, 56);
        border: none;
        width: 780px;
    
    }
    .sec-1{
        width: 780px;
        background-color: black;
        color: white;
        display: block;
        justify-content: center;
        text-align: center;
    }
    .h2{
        font-size: 4rem;
        /* max-width: 50%; */
        margin-left: 30px;
    }
    .para{
        font-size: 18px;
        /* max-width: 50%; */
        margin-left: 30px;
    }
    .image-1 img{
        z-index: +2;
        max-width: 600px;
        margin-left: 20%;
        margin-right: 10%;
        /* max-height: 20%; */
    }
    .para{
        font-size: 27px;
    }
    .video{
        z-index: 1;
        position: absolute;
        top: 823px;
        transform: translateX(-16px);
        left: 164px;
        max-width: 445px;
    }
    .sec-2{
        display: block;
        width: 780px;
        justify-content: center;
        text-align: center;
    }
    .image-2{
        display: block;
    }
    .content-2{
        text-align: center;
        width: 780px;
    }
    .h2-2{
        text-align: center;
        font-size: 4rem;
        max-width: 780px;
        margin: 30px;
    }
    .para-2{
        font-size: 27px;
        text-align: center;
        max-width: 670px;
        margin-left: 40px;
    }
    .img-2{
        position: absolute;
        margin-top: 24%;
        right: 20px;
        max-width: 50px;
        max-height: 50px;
        margin-left: 89%;
        transform: translateY(215px);
    }
    .sec-4{
        max-width: 780px;
        width: 695px;
    }
    
    #sec-5{
        width: 780px;
        display: block;
    }
    .sec-8{
        width: 780px;
    }
    .tab h2{
        width: 80%;
        display: block;
        align-items: center;
        background-color: rgba(83, 79, 79, 0.77);
    
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        align-content: center;
    }
    .email-box-2{
        padding-top: 20px;
        display: block;
        width: 60%;
        margin-left: 200px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    #btn-2{
        display: flex;
        font-size: 20px;
        font-weight: bold;
        color: white;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        
        margin-left: 10px;
        border-radius: 2px;
        flex-direction:row;
        justify-content:center;
        width: 30%;
        height: 30px;
        padding-top: 5px;
        padding: 7px;
        margin-top: 10px;
        transform: translateX(100px);
        border: none;
        background: rgb(229, 9, 20);
    }


}


